export const environments = [
    {
        browserName: 'Chrome',
        version: '6.0',
        platform: 'Android',
        platformName: 'Android',
        deviceName: 'j7xelte'
    }
];

export const tunnel = 'NullTunnel';

export const tunnelOptions = { hostname: '0.0.0.0', port: 4723 };

export const proxyPort = 9000;
export const proxyUrl = 'http://192.168.1.180:9000/';

export const reporters = ['Runner'];

export const loaderOptions = {
    packages: [
        { name: 'dojo', location: 'node_modules/dojo' }
    ]
};

export const functionalSuites = [ 'build/tests/functional/index' ];

export const excludeInstrumentation = true;
